.main-card {
  margin-top: -1.5rem !important;
  margin-bottom: -1.5rem;
}

$card-radius: 30px;

.card.weather-card {
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: $card-radius;

  & > .card-body {
    background: rgba(0, 0, 0, 0.5);
    border-radius: $card-radius;
  }
}
